<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" packages="org.apache.logging.log4j.core">
    <Appenders>
        <RollingFile name="RollingFile" fileName="./logs/service-unikin-api-tickets.log"
                     filePattern="./logs/service-unikin-api-tickets-%i.log">
            <PatternLayout pattern="%p [%d{yyyyMMdd HH:mm:ss.SSS}] - %-12C{} -%L - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="4 MB" />
            </Policies>
            <DefaultRolloverStrategy max="9"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%p [service-unikin-api-tickets] [%d{yyyyMMdd HH:mm:ss.SSS}] - %-12C{1} -%L - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org.apache.ibatis" level="ERROR" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.ibatis.logging.jdbc" level="ERROR" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="java.sql" level="ERROR" additivity="false">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>